*{
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --dark-color: #001660;
  --light-color: #394867;
  --back-light-color: #F1F6F9;
} 
body{
  width: 100vw;
  /* overflow-x: clip; */
}
#root{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
::selection {
  background-color: #ffeb3b; /* Light yellow background */
  color: #001660; /* Dark blue text */
}
.poster-username{
  text-decoration: none;
  color: #757575;
}

/* .app-div{
  display: flex;
  flex-direction: column;

} */