.truncate {
  white-space: nowrap;       /* Prevents text from wrapping to the next line */
  overflow: hidden;          /* Hides the overflow text */
  text-overflow: ellipsis;   /* Adds the ellipsis (...) */
          
}
.home-div{
  background-color: var(--back-light-color);
  width: 50%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 57px;
}
.user-div{
  display: grid;
  grid-template-columns: 80px 1fr 120px;
  background-color: var(--dark-color);
  width: 90%;
  height: 85px;
  border-radius: 12px;
  padding: 10px;
}
.div-profile-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.div-profile-details{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;;
}
.div-profile-name{
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;       /* Prevents text from wrapping to the next line */
  overflow: hidden;          /* Hides the overflow text */
  text-overflow: ellipsis;   /* Adds the ellipsis (...) */
  width: 125px;
}
.div-profile-username{
  color: rgb(226, 226, 226);
  white-space: nowrap;       /* Prevents text from wrapping to the next line */
  overflow: hidden;          /* Hides the overflow text */
  text-overflow: ellipsis;   /* Adds the ellipsis (...) */
  width: 125px;
}
.div-add-friend-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-friend-btn{
  background-color: #1877F2;
  /* width: 89px; */
  border: none;
  color: white;
  /* height: 52px; */
  width: 110px;
  height: 42px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home-div{
    width: 85%;
  }
  .user-div{
    height: 75px;
    padding: 0;
  }
  .profile-img{
    width: 50px;
    height: 50px;
  }
  .div-profile-details{
    justify-content: center;
  }
  .add-friend-btn{
    width: 100px;
    height: 39px;
  }
}

@media screen and (max-width: 480px) {
  .home-div{
    width: 100%;
  }
  .user-div{
    height: 75px;
    padding: 0;
  }
  .profile-img{
    width: 50px;
    height: 50px;
  }
  .div-profile-details{
    justify-content: center;
  }
  .add-friend-btn{
    width: 100px;
    height: 39px;
  }
}